extends layout

block content
  h1= title
  section.flexbox
    p.flexitem So sorry this is coming to you a bit late. I was straight up bedridden, which is surprising, because it's been a really long time since I had that happen to me.
    p.flexitem That being said, I am hustling to get back into the game. Plus, I learned some interesting things like what "breaking a fever" really means! (Which was a legit interesting experience)
  p Thanks for understanding! Let's go <a href="/">#{link}</a>
